@import "~bpk-mixins";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $bpk-spacing-sm $bpk-spacing-sm;

  background-color: $bpk-color-white;
  box-shadow: 0 0 10px 0 $bpk-color-gray-300;
}

.header__logo {
  display: inline-block;
}

.bpk-logo {
  vertical-align: middle;
  fill: $bpk-link-color;
  height: $bpk-line-height-base;
}

.logoText {
  @include bpk-visually-hidden;
}
