@import '~bpk-mixins/index';

.search {
  padding: $bpk-spacing-sm $bpk-spacing-sm;
  background-color: $bpk-color-blue-700;

  /*
  &__viewport-alert {
    display: none;

    @include bpk-breakpoint-tablet {
      display: block;
    }
  }
  */
  &__form {
    margin-bottom: $bpk-spacing-sm;
  }

  &__place {
    display: inline-block;
    width: 32%;
    vertical-align: bottom;
  }

  &__date, .bpk-datepicker__input {
    display: inline-block;
    width: 50%;
    vertical-align: bottom;
  }
  .bpk-datepicker__input {
    &:first-of-type {
      border-radius: $bpk-border-radius-xs 0 0 $bpk-border-radius-xs;
    }
    &:last-of-type {
      border-radius: 0 $bpk-border-radius-xs $bpk-border-radius-xs 0;
    };
    
  }

  &__hotels-destination {
    display: inline-block;
    width: 48%;
    vertical-align: bottom;
  }

  &__car-hire-pickup-location {
    display: inline-block;
    width: 40%;
    vertical-align: bottom;
  }

  &__number {
    display: inline-block;
    width: 8%;
    vertical-align: bottom;
  }

  &__time {
    display: inline-block;
    width: 12%;
    vertical-align: bottom;
  }

  &__button--cabin-travellers {
    @include bpk-input();
    &:active {
      background-color: $bpk-color-white;
      text-decoration: none;
    }
    display: flex;
    justify-content: space-between;
  }

  &__button--submit {
    width: 100%;
  }
}