@import '~bpk-mixins/index';

.search {
  padding: $bpk-spacing-sm $bpk-spacing-sm;
  background-color: $bpk-color-blue-700;

  &__viewport-alert {
    display: none;

    @include bpk-breakpoint-tablet {
      display: block;
    }
  }

  &__form {
    margin-bottom: $bpk-spacing-sm;
  }

  &__place {
    display: inline-block;
    width: 32%;
    vertical-align: bottom;
  }

  &__date {
    display: inline-block;
    width: 50%;
    vertical-align: bottom;
  }

  &__hotels-destination {
    display: inline-block;
    width: 48%;
    vertical-align: bottom;
  }

  &__car-hire-pickup-location {
    display: inline-block;
    width: 40%;
    vertical-align: bottom;
  }

  &__number {
    display: inline-block;
    width: 8%;
    vertical-align: bottom;
  }

  &__time {
    display: inline-block;
    width: 12%;
    vertical-align: bottom;
  }

  &__button--cabin-travellers {
    @include bpk-input();
    display: flex;
    justify-content: space-between;
  }

  &__button--submit {
    width: 100%;
  }
}